.book  {
    color: #AAA;
}

.brdr{
    width: 100%;
    text-align: center;
    height: 1px;
    background-color: #AAA ;
}
.site{
    background-color: #AAA;
}

.container label{
    color: #333;
}
.container input{
    height: 30px;

}